<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="BasicSuite">
    <listeners>
        <listener class-name="util.ScreenshotsListener"/>

    </listeners>
    <test name="Login to SF">
        <packages>
            <package name="com.epam.atm.selenium"/>
        </packages>
    </test>
</suite>
